---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div>
    <h1 class="text-3xl font-bold mb-8">Hello There!</h1>
    <p class="mb-6 text-lg">Lorem</p>
    <p class="mb-6 text-lg">Dolores</p>
</div>
